.MainMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.MainMenu h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.controleArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-game {
  margin-bottom: 10px;
}

.availableGames {
  margin-top: 20px;
}

.availableGames p {
  margin: 5px 0;
}

/* Медиа-запрос для устройств с шириной меньше 768px */
@media screen and (max-width: 767px) {
  .MainMenu h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}

/* Медиа-запрос для устройств с шириной меньше 480px */
@media screen and (max-width: 479px) {
  .MainMenu h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .btn {
    font-size: 12px;
    padding: 6px 12px;
  }
}
